<!DOCTYPE html>
<html dir="ltr" lang="en">
  <%- include('includes/header') -%>

  <body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
      <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div
      id="main-wrapper"
      data-navbarbg="skin6"
      data-theme="light"
      data-layout="vertical"
      data-sidebartype="full"
      data-boxed-layout="full"
    >
      <!-- ============================================================== -->
      <!-- Topbar header - style you can find in pages.scss -->
      <!-- ============================================================== -->
      <header class="topbar" data-navbarbg="skin6">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
          <div class="navbar-header" data-logobg="skin5">
            <!-- This is for the sidebar toggle which is visible on mobile only -->
            <a
              class="nav-toggler waves-effect waves-light d-block d-md-none"
              href="javascript:void(0)"
            >
              <i class="ti-menu ti-close"></i>
            </a>
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-brand">
              <a href="/" class="logo">
                <!-- Logo icon --><b class="logo-icon">
                  <!--You can put here icon as well// <i class="wi wi-sunset"></i> //-->
                  <!-- Dark Logo icon -->
                  <img
                    src="/admin-vendors/assets/images/logo-icon.png"
                    alt="homepage"
                    class="dark-logo"
                  />
                  <!-- Light Logo icon -->
                  <img
                    src="/admin-vendors/assets/images/logo-light-icon.png"
                    alt="homepage"
                    class="light-logo"
                  />
                </b>
                <!--End Logo icon -->
                <!-- Logo text --><span class="logo-text">
                  <!-- dark Logo text -->
                  <img
                    src="/admin-vendors/assets/images/logo-text.png"
                    alt="homepage"
                    class="dark-logo"
                  />
                  <!-- Light Logo text -->
                  <img
                    src="/admin-vendors/assets/images/logo-light-text.png"
                    class="light-logo"
                    alt="homepage"
                  />
                </span>
              </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a
              class="topbartoggler d-block d-md-none waves-effect waves-light"
              href="javascript:void(0)"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="ti-more"></i>
            </a>
          </div>
          <!-- ============================================================== -->
          <!-- End Logo -->
          <!-- ============================================================== -->
          <div
            class="navbar-collapse collapse"
            id="navbarSupportedContent"
            data-navbarbg="skin6"
          >
            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-left mr-auto">
              <!-- ============================================================== -->
              <!-- Search -->
              <!-- ============================================================== -->
              <li class="nav-item search-box">
                <a
                  class="nav-link waves-effect waves-dark"
                  href="javascript:void(0)"
                >
                  <div class="d-flex align-items-center">
                    <i class="mdi mdi-magnify font-20 mr-1"></i>
                    <div class="ml-1 d-none d-sm-block">
                      <span>Search</span>
                    </div>
                  </div>
                </a>
                <form class="app-search position-absolute">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search &amp; enter"
                  />
                  <a class="srh-btn"> <i class="ti-close"></i> </a>
                </form>
              </li>
            </ul>
            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-right">
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic"
                  href=""
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><img
                    src="/admin-vendors/images/users/1.jpg"
                    alt="user"
                    class="rounded-circle"
                    width="31"
                /></a>

                <div class="dropdown-menu dropdown-menu-right user-dd animated">
                  <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-user m-r-5 m-l-5"></i> My Profile</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a
                  >
                  <a class="dropdown-item" href="javascript:void(0)">
                    <i class="ti-email m-r-5 m-l-5"></i> Inbox
                  </a>
                </div>
              </li>
              <!-- ============================================================== -->
              <!-- User profile and search -->
              <!-- ============================================================== -->
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left Sidebar - style you can find in sidebar.scss -->
      <!-- ============================================================== -->
      <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
          <!-- Sidebar navigation-->
          <%- include('includes/sidebar') -%>
          <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
      </aside>
      <!-- Page wrapper -->
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-5 align-self-center">
              <h4 class="page-title">Post Jobs</h4>
            </div>
            <div class="col-7 align-self-center">
              <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <!-- <li class="breadcrumb-item active" aria-current="page">Basic Table</li> -->
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Container fluid -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card card-body">
                <form
                  class="form-horizontal m-t-30"
                  action="/admin/post-job"
                  method="POST"
                >
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label> Position </label>
                      <input
                        type="text"
                        id="position"
                        name="position"
                        class="form-control"
                      />
                      <small>eg. Web Developer </small>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label> Location Allowed </label>

                      <select
                        name="jobStatus"
                        id="inputState"
                        class="form-control"
                      >
                        <option value="Anywhere (100% Remote) Only">
                          Anywhere (100% Remote) Only
                        </option>
                        <option value="USA Only"> USA Only </option>
                        <option value="North America Only">
                          North America Only
                        </option>
                        <option value="Europe Only"> Europe Only </option>
                        <option value="Americas Only"> America Only </option>
                        <option value="Canada Only"> Canada Only </option>
                        <option value="EMEA Only"> EMEA Only </option>
                        <option value="Asia Only"> Asia Only </option>
                        <option value="Africa Only"> Africa Only </option>
                        <option value="Other (don’t specify)">
                          Other(don't specify)
                        </option>
                      </select>
                      
                      <small>eg. Anywhere </small>
                    </div>

                    <div class="form-group col-md-6">
                      <label> Job Status </label>

                      <select
                        name="jobStatus"
                        id="inputState"
                        class="form-control"
                      >
                         <option value="Full time"> Full time </option>
                        <option value="Part time"> Part time </option>
                        <option value="Contract"> Contract </option>
                        <option value="Internship"> Internship </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="inputState"> Job Category </label>
                    <select
                      name="jobCategory"
                      id="inputState"
                      class="form-control"
                    >
                      <option> Web Development </option>
                      <option> Design </option>
                      <option> Product </option>
                      <option> Customer Service </option>
                      <option> Data </option>
                      <option> Sales </option>
                      <option> DevOps/SysAdmin </option>
                      <option> Business </option>
                      <option> Finance</option>
                      <option> Legal </option>
                      <option> Human Resources </option>
                      <option> Medical</option>
                      <option> Teaching</option>
                      <option> Everything Else </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label> Industry/ job tags </label>
                    <input
                      type="text"
                      id="industry"
                      name="jobTags"
                      class="form-control"
                      placeholder=""
                    />
                    <small> eg. Node.js, Angular </small>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for=""> Minimum salary </label>
                      <input
                        type="number"
                        name="minimumSalary"
                        class="form-control"
                        id="minimum salary"
                        step="0.01"
                        placeholder="eg. 2,500"
                      />
                    </div>

                    <div class="form-group col-md-3">
                      <label for=""> Maximum salary </label>
                      <input
                        type="number"
                        name="maximumSalary"
                        class="form-control"
                        id="maximun salary"
                        step="0.01"
                        placeholder="eg. 5,000"
                      />
                    </div>

                    <div class="form-group col-md-3">
                      <label for="inputState"> Currency </label>
                      <select
                        name="currency"
                        id="inputState"
                        class="form-control"
                      >
                        <option> USD </option>
                        <option> GH </option>
                        <option> EUR </option>
                        <option> GBP </option>
                        <option> AUD </option>
                      </select>
                    </div>

                    <div class="form-group col-md-3">
                      <label for="inputState"> Salary interval </label>
                      <select
                        name="salaryInterval"
                        id="inputState"
                        class="form-control"
                      >
                        <option> Annual </option>
                        <option> Hourly </option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>
                      Job description *
                      <span class="text-danger">
                        Uses markdown format - click the ? icon for a guide
                      </span>
                    </label>
                    <textarea
                    
                      name="jobDescription"
                      id="jobDescription"
                      cols=" 30 "
                      rows="10"
                    ></textarea>
                  </div>

                  <div class="alert alert-danger">
                    One of the following is required. This is the email or link
                    where we will send applicants.
                  </div>
                  <br />

                  <div class="form-group">
                    <label>
                      Application URL <span class="text-danger"></span> *
                    </label>
                    <input
                      type="url"
                      id=" "
                      name="applicationURL"
                      class="form-control"
                      placeholder=" "
                    />
                    <small> https://mycompany.com/application/job/1 </small>
                  </div>

                  <div class="form-group">
                    <label> Apply-to email </label>
                    <input
                      type="email "
                      id=""
                      name="applyToEmail"
                      class="form-control"
                      placeholder=" "
                    />
                    <small> eg. companyemail.gmail.com </small>
                  </div>
                  <div class="alert alert-danger">Company details</div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label> Company name </label>
                      <input
                        type="text"
                        id="email"
                        name="companyName"
                        class="form-control"
                        placeholder=""
                      />
                      <small>eg. Company.inc </small>
                    </div>

                    <div class="form-group col-md-6">
                      <label> Upload company logo </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text"> Upload </span>
                        </div>
                        <div class="custom-file">
                          <input
                            type="file"
                            name="companyLogo"
                            class="custom-file-input"
                            id="inputGroupFile01 "
                          />
                          <label
                            class="custom-file-label"
                            for="inputGroupFile01 "
                          >
                            Choose file
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for=" "> Company Twitter </label>
                      <input
                        type="url"
                        class="form-control"
                        id=" "
                        name="companyTwitter"
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <label for=" "> Company contact email </label>
                      <input
                        type="email"
                        name="companyEmail"
                        class="form-control"
                        id=" "
                      />
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-secondary">
                        Post your Job
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <%- include('includes/footer') -%>
      </div>
    </div>
  </body>
</html>
