<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <div class="footer-tittle">
                                <h4>About Us</h4>
                                <div class="footer-pera">
                                    <p>Heaven frucvitful doesn't cover lesser dvsays appear creeping seasons so
                                        behold.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Contact Info</h4>
                            <ul>
                                <li>
                                    <p>Address :Your address goes
                                        here, your demo address.</p>
                                </li>
                                <li><a href="#">Phone : +8880 44338899</a></li>
                                <li><a href="#">Email : info@colorlib.com</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Important Link</h4>
                            <ul>
                                <li><a href="#"> View Project</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Testimonial</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-xl-10 col-lg-10 ">
                        <div class="footer-copy-right">
                            &copy; Guglex 20201
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2">
                        <div class="footer-social f-right">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fas fa-globe"></i></a>
                            <a href="#"><i class="fab fa-behance"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>

 
<!-- JS here -->
  
      <!-- All JS Custom Plugins Link Here here -->
    <script src="/homepage-vendors/js/vendor/modernizr-3.5.0.min.js"></script>
    
      <!-- Jquery, Popper, Bootstrap -->
      <script src="/homepage-vendors/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/homepage-vendors/js/popper.min.js"></script>
    <script src="/homepage-vendors/js/bootstrap.min.js"></script>

    <!-- Jquery Mobile Menu -->
    <script src="/homepage-vendors/js/jquery.slicknav.min.js"></script>

      <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/homepage-vendors/js/owl.carousel.min.js"></script>
    <script src="/homepage-vendors/js/slick.min.js"></script>
    <script src="/homepage-vendors/js/price_rangs.js"></script>
   
      <!-- One Page, Animated-HeadLin -->
    <script src="/homepage-vendors/js/wow.min.js"></script>
      <script src="/homepage-vendors/js/animated.headline.js"></script>
    <script src="/homepage-vendors/js/jquery.magnific-popup.js"></script>

      <!-- Scrollup, nice-select, sticky -->
    <script src="/homepage-vendors/js/jquery.scrollUp.min.js"></script>
    <script src="/homepage-vendors/js/jquery.nice-select.min.js"></script>
      <script src="/homepage-vendors/js/jquery.sticky.js"></script>
    

      <!-- Jquery Plugins, main Jquery -->	
    <script src="/homepage-vendors/js/plugins.js"></script>
    <script src="/homepage-vendors/js/main.js"></script>
    <script src="/homepage-vendors/js/render-details.js"></script>
      
</body>
</html>