<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= pageTitle  %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/homepage-vendors/img/favicon.ico">

    <!-- CSS here -->
        <link rel="stylesheet" href="/homepage-vendors/css/bootstrap.min.css">
        <link rel="stylesheet" href="/homepage-vendors/css/owl.carousel.min.css">
        <link rel="stylesheet" href="/homepage-vendors/css/flaticon.css">
        <link rel="stylesheet" href="/homepage-vendors/css/price_rangs.css">
        <link rel="stylesheet" href="/homepage-vendors/css/slicknav.css">
        <link rel="stylesheet" href="/homepage-vendors/css/animate.min.css">
        <link rel="stylesheet" href="/homepage-vendors/css/magnific-popup.css">
        <link rel="stylesheet" href="/homepage-vendors/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="/homepage-vendors/css/themify-icons.css">
        <link rel="stylesheet" href="/homepage-vendors/css/slick.css">
        <link rel="stylesheet" href="/homepage-vendors/css/nice-select.css">
        <link rel="stylesheet" href="/homepage-vendors/css/style.css">
</head>
