<div class="slider-area">
    <!-- Mobile Menu -->
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center" data-background="#">
            <div class="container">
                <div class="row">
                    <!-- col-xl-6 col-lg-9 col-md-10 -->
                    <div class="col-xl-6 col-lg-9 col-md-10">
                        <div class="hero__caption">
                            <h1>Find the most exciting startup jobs</h1>
                        </div>
                    </div>
                </div>
                <!-- Search Box -->
                <div class="row">
                    <div class="col-xl-12">
                        <!-- form -->
                        <form action="#" class="search-box">
                            <div class="input-form">
                                <input type="text" placeholder="Job Tittle or keyword">
                            </div>
                            <div class="select-form">
                                <div class="select-itms">
                                    <select
                                    name="jobStatus"
                                    id="inputState"
                                    class="form-control"
                                  >
                                    <option value="Anywhere (100% Remote) Only">
                                      Anywhere (100% Remote) 
                                    </option>
                                    <option value="USA Only"> USA Only </option>
                                    <option value="North America Only">
                                      North America Only
                                    </option>
                                    <option value="Europe Only"> Europe Only </option>
                                    <option value="Americas Only"> America Only </option>
                                    <option value="Canada Only"> Canada Only </option>
                                    <option value="EMEA Only"> EMEA Only </option>
                                    <option value="Asia Only"> Asia Only </option>
                                    <option value="Africa Only"> Africa Only </option>
                                    <option value="Other (don’t specify)">
                                      Other(don't specify)
                                    </option>
                                  </select>
                                </div>
                            </div>
                            <div class="search-form">
                                <a href="#">Find job</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>