<footer class="footer text-center">
    All Rights Reserved by Guglex. 2021
    <a href="#"> Guglex </a>.
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>


<script src="/admin-vendors/assets/libs/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/admin-vendors/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="/admin-vendors/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/admin-vendors/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="/admin-vendors/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="/admin-vendors/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="/admin-vendors/dist/js/custom.min.js"></script>
<!--This page JavaScript -->

<!--CKEditor JavaScript -->
<script src="/admin-vendors/assets/libs/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/admin-vendors/dist/js/txteditor.js"></script>

<!--chartis chart-->
<script src="/admin-vendors/assets/libs/chartist/dist/chartist.min.js"></script>
<script src="/admin-vendors/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="/admin-vendors/dist/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>