<!doctype html>
<html lang="en">

<!-- search-new41:42-->
<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>Job Stock - Responsive Job Portal Bootstrap Template</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
	================================================== -->
	<link rel="stylesheet" href="assets/plugins/css/plugins.css">
    
    <!-- Custom style -->
    <link href="assets/css/style.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" id="jssDefault" href="assets/css/colors/green-style.css">
    
	</head>
	<body>
		<div class="Loader"></div>
		<div class="wrapper">  
			
			<!-- Start Navigation -->
			<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">

				<div class="container">            
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
						<i class="fa fa-bars"></i>
					</button>
					<!-- Start Header Navigation -->
					<div class="navbar-header">
						<a class="navbar-brand" href="index-2.html">
							<img src="assets/img/logo.png" class="logo logo-scrolled" alt="">
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-menu">
						<ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
							<li class="active"><input type="text" class="form-control" placeholder="Find Freelancer"></li>
							<li class="dropdown megamenu-fw"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Brows</a>
								<ul class="dropdown-menu megamenu-content" role="menu">
									<li>
										<div class="row">
											<div class="col-menu col-md-3">
												<h6 class="title">Main Pages</h6>
												<div class="content">
													<ul class="menu-col">
														<li><a href="index-2.html">Home Page 1</a></li>
														<li><a href="index-3.html">Home Page 2</a></li>
														<li><a href="index-4.html">Home Page 3</a></li>
														<li><a href="index-5.html">Home Page 4</a></li>
														<li><a href="index-6.html">Home Page 5</a></li>
														<li><a href="freelancing.html">Freelancing</a></li>
														<li><a href="signin-signup.html">Sign In / Sign Up</a></li>
														<li><a href="search-job.html">Search Job</a></li>
														<li><a href="accordion.html">Accordion</a></li>
														<li><a href="tab.html">Tab Style</a></li>
													</ul>
												</div>
											</div><!-- end col-3 -->
											<div class="col-menu col-md-3">
												<h6 class="title">For Candidate</h6>
												<div class="content">
													<ul class="menu-col">
														<li><a href="browse-jobs.html">Browse Jobs</a></li>
														<li><a href="browse-company.html">Browse Companies</a></li>
														<li><a href="create-resume.html">Create Resume</a></li>
														<li><a href="resume-detail.html">Resume Detail</a></li>
														<li><a href="#">Manage Jobs</a></li>
														<li><a href="job-detail.html">Job Detail</a></li>
														<li><a href="browse-jobs-grid.html">Job In Grid</a></li>
                                                        <li><a href="candidate-profile.html">Candidate Profile</a></li>
														<li><a href="manage-resume-2.html">Manage Resume 2</a></li>
													<li><a href="company-detail.html">Company Detail</a></li>														
													</ul>
												</div>
											</div><!-- end col-3 -->
											<div class="col-menu col-md-3">
												<h6 class="title">For Employer</h6>
												<div class="content">
													<ul class="menu-col">
														<li><a href="create-job.html">Create Job</a></li>
														<li><a href="create-company.html">Create Company</a></li>
														<li><a href="manage-company.html">Manage Company</a></li>
														<li><a href="manage-candidate.html">Manage Candidate</a></li>
														<li><a href="manage-employee.html">Manage Employee</a></li>
														<li><a href="browse-resume.html">Browse Resume</a></li>
														<li><a href="search-new.html">New Search Job</a></li>
														<li><a href="employer-profile.html">Employer Profile</a></li>
														<li><a href="manage-resume.html">Manage Resume</a></li>
														<li><a href="new-job-detail.html">New Job Detail</a></li>
													</ul>
												</div>
											</div>    
											<div class="col-menu col-md-3">
												<h6 class="title">Extra Pages <span class="new-offer">New</span></h6>
												<div class="content">
													<ul class="menu-col">
														<li><a href="freelancer-detail.html">Freelancer detail</a></li>
														<li><a href="job-apply-detail.html">New Apply Job</a></li>
														<li><a href="payment-methode.html">Payment Methode</a></li>
														<li><a href="new-login-signup.html">New LogIn / SignUp</a></li>
														<li><a href="freelancing-jobs.html">Freelancing Jobs</a></li>
														<li><a href="freelancers.html">Freelancers</a></li>
														<li><a href="freelancers-2.html">Freelancers 2</a></li>
														<li><a href="premium-candidate.html">Premium Candidate</a></li>
														<li><a href="premium-candidate-detail.html">Premium Candidate Detail</a></li>
														<li><a href="blog-detail.html">Blog detail</a></li>
													</ul>
												</div>
											</div><!-- end col-3 -->
										</div><!-- end row -->
									</li>
								</ul>
							</li>
							<li><a href="blog.html">Blog</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
							<li><a href="login.html"><i class="fa fa-pencil" aria-hidden="true"></i>SignIn</a></li>
							<li><a href="pricing.html"><i class="fa fa-sign-in" aria-hidden="true"></i>Pricing</a></li>
							<li class="left-br"><a href="javascript:void(0)"  data-toggle="modal" data-target="#signup" class="signin">Sign In Now</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div>   
			</nav>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			
			<!-- Title Header Start -->
			<section class="inner-header-title no-br advance-header-title" style="background-image:url(assets/img/banner-10.jpg);">
				<div class="container">
					<h2><span>Work There.</span> Find the dream job</h2>
					<p><span>704</span> new job in the last <span>7</span> days.</p>
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- Title Header End -->
			
			<!-- bottom form section start -->
			<section class="bottom-search-form">
				<div class="container">
					<form class="bt-form">
						<div class="col-md-3 col-sm-6">
							<input type="text" class="form-control" placeholder="Skills, Designations, Keyword">
						</div>
						<div class="col-md-3 col-sm-6">
							<input type="text" class="form-control" placeholder="Searc By location">
						</div>
						<div class="col-md-3 col-sm-6">
							<select class="form-control">
							  <option>By Category</option>
							  <option>Information Technology</option>
							  <option>Mechanical</option>
							  <option>Hardware</option>
							</select>
						</div>
						<div class="col-md-3 col-sm-6">
							<button type="submit" class="btn btn-primary">Search Job</button>
						</div>
					</form>
				</div>
			</section>
			<!-- Bottom Search Form Section End -->
			
			<!-- ========== Begin: Brows job Category ===============  -->
			<section class="brows-job-category gray-bg">
				<div class="container">
					<div class="col-md-9 col-sm-12">
						<div class="full-card">
						
							<div class="card-header">
								<div class="row mrg-0">
									<div class="col-md-4 col-sm-4">
										<select class="selectpicker form-control" multiple title="Job Type">
										  <option>Full Time</option>
										  <option>Part Time</option>
										  <option>Freelancer</option>
										  <option>Internship</option>
										</select>
									</div>
									<div class="col-md-4 col-sm-4 small-padd">
										<select class="selectpicker form-control" multiple title="All Categories">
										  <option>Teacher Jobs</option>
										  <option>Consultant Jobs</option>
										  <option>IT Jobs</option>
										  <option>Sales Jobs</option>
										  <option>Graphic Designer Jobs</option>
										</select>
									</div>
									<div class="col-md-4 col-sm-4">
										<ol class="breadcrumb pull-right">
											<li><a href="#"><i class="fa fa-home"></i></a></li>
											<li><a href="#">Full Time</a></li>
											<li class="active">IT Jobs</li>
										</ol>
									</div>
								</div>
							</div>
							
							<div class="card-body">
							
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-2.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Product Designer</h4></a>
												<span>Google Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#apply-job" class="btn advance-search" title="apply">Apply</a>
										</div>
									</div>
									<span class="tg-themetag tg-featuretag">Premium</span>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-6.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Project Manager</h4></a>
												<span>Vertue Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#apply-job" class="btn advance-search" title="apply">Apply</a>
										</div>
									</div>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-7.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Database Designer</h4></a>
												<span>Twitter Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="#" class="btn applied advance-search" title="applied"><i class="fa fa-check" aria-hidden="true"></i>Applied</a>
										</div>
									</div>
									<span class="tg-themetag tg-featuretag">Premium</span>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-2.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Product Designer</h4></a>
												<span>Google Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#apply-job" class="btn advance-search" title="apply">Apply</a>
										</div>
									</div>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-5.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Human Resource</h4></a>
												<span>Skype Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="#" class="btn applied advance-search" title="applied"><i class="fa fa-check" aria-hidden="true"></i>Applied</a>
										</div>
									</div>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-6.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Project Manager</h4></a>
												<span>Vertue Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#apply-job" class="btn advance-search" title="applied">Apply</a>
										</div>
									</div>
									<span class="tg-themetag tg-featuretag">Premium</span>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-7.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>CEO & Manager</h4></a>
												<span>Twitter</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#apply-job" class="btn advance-search" title="apply">Apply</a>
										</div>
									</div>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-4.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Product Designer</h4></a>
												<span>Microsoft Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="#" class="btn applied advance-search" title="applied"><i class="fa fa-check" aria-hidden="true"></i>Applied</a>
										</div>
									</div>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-3.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>PHP Developer</h4></a>
												<span>Honda Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)"  data-toggle="modal" data-target="#apply-job" class="btn advance-search" title="apply">Apply</a>
										</div>
									</div>
								</article>
								
								<article class="advance-search-job">
									<div class="row no-mrg">
										<div class="col-md-6 col-sm-6">
											<a href="new-job-detail.html" title="job Detail">
												<div class="advance-search-img-box">
													<img src="assets/img/com-1.jpg" class="img-responsive" alt="">
												</div>
											</a>
											<div class="advance-search-caption">
												<a href="new-job-detail.html" title="Job Dtail"><h4>Web Designer</h4></a>
												<span>Autodesk Ltd</span>
											</div>
										</div>
										<div class="col-md-4 col-sm-4">
											<div class="advance-search-job-locat">
												<p><i class="fa fa-map-marker"></i>QBL Park, C40</p>
											</div>
										</div>
										<div class="col-md-2 col-sm-2">
											<a href="#" class="btn applied advance-search" title="applied"><i class="fa fa-check" aria-hidden="true"></i>Applied</a>
										</div>
									</div>
								</article>
								
							</div>
						</div>
						
						<div class="row">
							<ul class="pagination">
								<li><a href="#">&laquo;</a></li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li> 
								<li><a href="#">4</a></li> 
								<li><a href="#"><i class="fa fa-ellipsis-h"></i></a></li> 
								<li><a href="#">&raquo;</a></li> 
							</ul>
						</div>
						
						<!-- Ad banner -->
						<div class="row">
							<div class="ad-banner">
								<img src="http://via.placeholder.com/728x90" class="img-responsive" alt="">
							</div>
						</div>
					</div>
					
					<!-- Sidebar Start -->
					<div class="col-md-3 col-sm-12">
						<div class="sidebar right-sidebar">
						
							<div class="side-widget">
								<h2 class="side-widget-title">Job Alert</h2>
								<div class="job-alert">
									<div class="widget-text">
										<form>
											<input type="text" name="keyword" class="form-control" placeholder="Job Keyword">
											<input type="email" name="email" class="form-control" placeholder="Email ID">
											<button type="submit" class="btn btn-alrt">Add Alert</button>
										</form>
									</div>
								</div>
							</div>
							
							<div class="side-widget">
								<h2 class="side-widget-title">Advertisment</h2>
								<div class="widget-text padd-0">
									<div class="ad-banner">
										<img src="http://via.placeholder.com/320x285" class="img-responsive" alt="">
									</div>
								</div>
							</div>
							
							<div class="side-widget">
								<h2 class="side-widget-title">Compensation</h2>
								<div class="widget-text padd-0">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="1">
												<label for="1"></label>
											</span>
											Under $10,000
											<span class="pull-right">102</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="2">
												<label for="2"></label>
											</span>
											$10,000 - $15,000
											<span class="pull-right">78</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="3">
												<label for="3"></label>
											</span>
											$15,000 - $20,000
											<span class="pull-right">12</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="4">
												<label for="4"></label>
											</span>
											$20,000 - $30,000
											<span class="pull-right">85</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="5">
												<label for="5"></label>
											</span>
											$30,000 - $40,000
											<span class="pull-right">307</span>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="side-widget">
								<h2 class="side-widget-title"><a href="#designation" data-toggle="collapse">Designation<i class="pull-right fa fa-angle-double-down" aria-hidden="true"></i></a></h2>
								<div class="widget-text padd-0 collapse" id="designation">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="1">
												<label for="1"></label>
											</span>
											Web Designer
											<span class="pull-right">102</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="2">
												<label for="2"></label>
											</span>
											Php Developer
											<span class="pull-right">78</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="3">
												<label for="3"></label>
											</span>
											Project Manager
											<span class="pull-right">12</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="4">
												<label for="4"></label>
											</span>
											Human Resource
											<span class="pull-right">85</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="5">
												<label for="5"></label>
											</span>
											CMS Developer
											<span class="pull-right">307</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="6">
												<label for="6"></label>
											</span>
											App Developer
											<span class="pull-right">256</span>
										</li>
									</ul>
								</div>
							</div>
							
							<div class="side-widget">
								<h2 class="side-widget-title"><a href="#job-location" data-toggle="collapse">Location<i class="pull-right fa fa-angle-double-down" aria-hidden="true"></i></a></h2>
								<div class="widget-text padd-0 collapse" id="job-location">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="1">
												<label for="1"></label>
											</span>
											Mohali
											<span class="pull-right">102</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="2">
												<label for="2"></label>
											</span>
											Chandigarh
											<span class="pull-right">78</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="3">
												<label for="3"></label>
											</span>
											Chennai
											<span class="pull-right">12</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="4">
												<label for="4"></label>
											</span>
											Delhi
											<span class="pull-right">85</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="5">
												<label for="5"></label>
											</span>
											Noida
											<span class="pull-right">307</span>
										</li>
										
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="6">
												<label for="6"></label>
											</span>
											Chhatisgarh
											<span class="pull-right">256</span>
										</li>
										
									</ul>
								</div>
							</div>
							
							<div class="side-widget">
								<h2 class="side-widget-title"><a href="#job-type" data-toggle="collapse">Job type<i class="pull-right fa fa-angle-double-down" aria-hidden="true"></i></a></h2>
								<div class="widget-text padd-0 collapse" id="job-type">
									<ul>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="1">
												<label for="1"></label>
											</span>
											Full Time
											<span class="pull-right">102</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="2">
												<label for="2"></label>
											</span>
											Part Time
											<span class="pull-right">78</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="3">
												<label for="3"></label>
											</span>
											Internship
											<span class="pull-right">12</span>
										</li>
										<li>
											<span class="custom-checkbox">
												<input type="checkbox" id="4">
												<label for="4"></label>
											</span>
											Freelancer
											<span class="pull-right">85</span>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
					<!-- Sidebar End -->
					
				</div>
			</section>
			<!-- ========== Begin: Brows job Category End ===============  -->
			
			<!-- Footer Section Start -->
			<footer class="footer">
				<div class="row lg-menu">
					<div class="container">
						<div class="col-md-4 col-sm-4">
							<img src="assets/img/footer-logo.png" class="img-responsive" alt="" /> 
						</div>
						<div class="col-md-8 co-sm-8 pull-right">
							<ul>
								<li><a href="index-2.html" title="">Home</a></li>
								<li><a href="blog.html" title="">Blog</a></li>
								<li><a href="404.html" title="">404</a></li>
								<li><a href="faq.html" title="">FAQ</a></li>
								<li><a href="contact.html" title="">Contact Us</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row no-padding">
					<div class="container">
						<div class="col-md-3 col-sm-12">
							<div class="footer-widget">
							<h3 class="widgettitle widget-title">About Job Stock</h3>
							<div class="textwidget">
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
							<p>7860 North Park Place<br>
							San Francisco, CA 94120</p>
							<p><strong>Email:</strong> Support@careerdesk</p>
							<p><strong>Call:</strong> <a href="tel:+15555555555">555-555-1234</a></p>
							<ul class="footer-social">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
							</div>
							</div>
						</div>
						
						<div class="col-md-3 col-sm-4">
							<div class="footer-widget">
							<h3 class="widgettitle widget-title">All Navigation</h3>
							<div class="textwidget">
								<div class="textwidget">
								<ul class="footer-navigation">
									<li><a href="manage-company.html" title="">Front-end Design</a></li>
									<li><a href="manage-company.html" title="">Android Developer</a></li>
									<li><a href="manage-company.html" title="">CMS Development</a></li>
									<li><a href="manage-company.html" title="">PHP Development</a></li>
									<li><a href="manage-company.html" title="">IOS Developer</a></li>
									<li><a href="manage-company.html" title="">Iphone Developer</a></li>
								</ul>
							</div>
							</div>
							</div>
						</div>
						
						<div class="col-md-3 col-sm-4">
							<div class="footer-widget">
							<h3 class="widgettitle widget-title">All Categories</h3>
							<div class="textwidget">
								<ul class="footer-navigation">
									<li><a href="manage-company.html" title="">Front-end Design</a></li>
									<li><a href="manage-company.html" title="">Android Developer</a></li>
									<li><a href="manage-company.html" title="">CMS Development</a></li>
									<li><a href="manage-company.html" title="">PHP Development</a></li>
									<li><a href="manage-company.html" title="">IOS Developer</a></li>
									<li><a href="manage-company.html" title="">Iphone Developer</a></li>
								</ul>
							</div>
							</div>
						</div>
							
						<div class="col-md-3 col-sm-4">
							<div class="footer-widget">
							<h3 class="widgettitle widget-title">Connect Us</h3>
							<div class="textwidget">
							<form class="footer-form">
								<input type="text" class="form-control" placeholder="Your Name"> 
								<input type="text" class="form-control" placeholder="Email">
								<textarea class="form-control" placeholder="Message"></textarea>
								<button type="submit" class="btn btn-primary">Login</button>
							</form>
							</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row copyright">
					<div class="container">
						<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
					</div>
				</div>
			</footer>
			<div class="clearfix"></div>
			<!-- Footer Section End -->
			
			<!-- Sign Up Window Code -->
			<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="tab" role="tabpanel">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#login" role="tab" data-toggle="tab">Sign In</a></li>
								<li role="presentation"><a href="#register" role="tab" data-toggle="tab">Sign Up</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content" id="myModalLabel2">
								<div role="tabpanel" class="tab-pane fade in active" id="login">
									<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<div class="subscribe wow fadeInUp">
										<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="login-btn" class="submit-btn"> Login </button>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>

								<div role="tabpanel" class="tab-pane fade" id="register">
								<img src="assets/img/logo.png" class="img-responsive" alt="" />
									<form class="form-inline" method="post">
											<div class="col-sm-12">
												<div class="form-group">
													<input type="text"  name="email" class="form-control" placeholder="Your Name" required="">
													<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
													<input type="email"  name="email" class="form-control" placeholder="Username" required="">
													<input type="password" name="password" class="form-control"  placeholder="Password" required="">
													<div class="center">
													<button type="submit" id="subscribe" class="submit-btn"> Create Account </button>
													</div>
												</div>
											</div>
										</form>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>   
			<!-- End Sign Up Window -->
			
			<!-- Apply Form Code -->
			<div class="modal fade" id="apply-job" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<div class="apply-job-box">
								<img src="assets/img/com-1.jpg" class="img-responsive" alt="">
								<h4>Product Designer</h4>
								<p>Google Pvt.</p>
							</div>
							<div class="apply-job-form">
								<form class="form-inline" method="post">
									<div class="col-sm-12">
										<div class="form-group">
											<input type="text"  name="name" class="form-control" placeholder="Your Name" required="">
											<input type="email"  name="email" class="form-control" placeholder="Your Email" required="">
											<textarea class="form-control" placeholder="About You / Paste your CV"></textarea>
											<div class="fileUpload">
												<span>Upload CV</span>
												<input type="file" class="upload" />
											</div>
											<div class="center">
											<button type="submit" id="subscribe" class="submit-btn"> Apply Now </button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>   
			<!-- End Apply Form -->
			<button class="w3-button w3-teal w3-xlarge w3-right" onclick="openRightMenu()"><i class="spin fa fa-cog" aria-hidden="true"></i></button>
			<div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="rightMenu">
				<button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
				<ul id="styleOptions" title="switch styling">
					<li>
						<a href="javascript: void(0)" class="cl-box blue" data-theme="colors/blue-style"></a>
					</li>
					<li>
						<a href="javascript: void(0)" class="cl-box red" data-theme="colors/red-style"></a>
					</li>
					<li>
						<a href="javascript: void(0)" class="cl-box purple" data-theme="colors/purple-style"></a>
					</li>
					<li>
						<a href="javascript: void(0)" class="cl-box green" data-theme="colors/green-style"></a>
					</li>
					<li>
						<a href="javascript: void(0)" class="cl-box dark-red" data-theme="colors/dark-red-style"></a>
					</li>
					<li>
						<a href="javascript: void(0)" class="cl-box orange" data-theme="colors/orange-style"></a>
					</li>
					<li>
						<a href="javascript: void(0)" class="cl-box sea-blue" data-theme="colors/sea-blue-style "></a>
					</li>
					<li>
						<a href="javascript: void(0)" class="cl-box pink" data-theme="colors/pink-style"></a>
					</li>
				</ul>
			</div>
			
			<!-- Scripts
			================================================== -->
			<script type="text/javascript" src="assets/plugins/js/jquery.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/viewportchecker.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootstrap.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootsnav.js"></script>
			<script type="text/javascript" src="assets/plugins/js/select2.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/wysihtml5-0.3.0.js"></script>
			<script type="text/javascript" src="assets/plugins/js/bootstrap-wysihtml5.js"></script>
			<script type="text/javascript" src="assets/plugins/js/datedropper.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/dropzone.js"></script>
			<script type="text/javascript" src="assets/plugins/js/loader.js"></script>
			<script type="text/javascript" src="assets/plugins/js/owl.carousel.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/slick.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/gmap3.min.js"></script>
			<script type="text/javascript" src="assets/plugins/js/jquery.easy-autocomplete.min.js"></script>
			
			<!-- Custom Js -->
			<script src="assets/js/custom.js"></script>
			<script src="assets/js/jQuery.style.switcher.js"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#styleOptions').styleSwitcher();
				});
			</script>
			<script>
				function openRightMenu() {
					document.getElementById("rightMenu").style.display = "block";
				}

				function closeRightMenu() {
					document.getElementById("rightMenu").style.display = "none";
				}
			</script>
			
		</div>
	</body>

<!-- search-new41:42-->
</html>