<!doctype html>
<html class="no-js" lang="zxx">
    <%- include('includes/header') -%>

    <body>
        <!-- Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="/homepage-vendors/img/logo/logo.png" alt=""></div>
                    </div>
                </div>
            </div>
            <!-- Preloader Start -->
            <header>
                <!-- Header Start -->
                <%- include('includes/navbar') -%>
                <!-- Header End -->
            </header>
            <main>


                <!-- Hero Area Start-->
                <div class="slider-area ">
                    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="/homepage-vendors/img/hero/about.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="hero-cap text-center">
                                        <h2>Oops Sorry!  Page Not found </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Area End -->


            </main>


            <!-- footer-bottom area -->
            <%- include('includes/footer') -%>
