<!doctype html>
<html class="no-js" lang="zxx">
   
    <%- include('includes/header') -%>

<body>
  
    <header>
        <!-- Header Start -->
        <%- include('includes/navbar') -%>
        <!-- Header End -->
    </header>
   
    
    <!-- ================ contact section start ================= -->
    <section class="contact-section">
            <div class="container">
        
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title"> Account Login </h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form" action="/admin" method="" id="">
                            <div class="row">
                             
                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="email" id="email" type="email"  placeholder="Enter Email">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <input class="form-control" name="password" id="password" type="password"  placeholder="Enter Password">
                                    </div>
                                </div>

                                
                            </div>
                          
                            <div class="form-group mt-3">
                                <button type="submit"  name="" class="genric-btn primary radius"> Login </button>
                            </div>
                            
                            
                            <div class="">
                                <form action="/auth/google" method="post">
                                    <button type="submit"  name="" class="genric-btn danger  radius"><i class="ti-google"></i> Login with Google  </button>
                                </form>
                            </div>
                            <a href="/register" style="color: black;"> Don't have an account ? Register </a>
                        </form>
                    </div>
                   
                </div>
            </div>
        </section>
    <!-- ================ contact section end ================= -->


     <!-- footer-bottom area -->
     <%- include('includes/footer') -%>