<div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
        <ul id="sidebarnav">
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/index" aria-expanded="false">
                    <i class="mdi mdi-view-grid"></i>
                    <span class="hide-menu">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/post-job" aria-expanded="false">
                    <i class="mdi mdi-briefcase"></i>
                    <span class="hide-menu"> Post Job </span>
                </a>
            </li>
             <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/manage-job" aria-expanded="false">
                    <i class="mdi mdi-arrange-bring-forward"></i>
                    <span class="hide-menu"> Manage Job </span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/invoice" aria-expanded="false">
                    <i class="mdi mdi-message-text"></i>
                    <span class="hide-menu"> Invoices </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin/invoice" aria-expanded="false">
                    <i class="mdi mdi-logout"></i>
                    <span class="hide-menu"> Logout </span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End Sidebar navigation -->
</div>